/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #001f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc00;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.admin-btn, .logout-btn {
    background: #ffcc00;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #132f44;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #ffcc00;
    border: none;
    font-weight: bold;
}